<footer class="row tm-mt-small">
    <div class="col-12 font-weight-light">
        <p class="d-inline-block tm-bg-black text-white py-2 px-4">
            Copyright &copy; 2018. Created by
            <a href="http://www.tooplate.com" class="text-white tm-footer-link">Tooplate</a>
            |  Distributed by
            <a href="https://themewagon.com" class="text-white tm-footer-link">ThemeWagon</a>
        </p>
    </div>
</footer>
