<header class="header_area sticky-header mt-3">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<a class="d-flex navbar-brand logo_h" href="/"><img src="img/fav.png" alt="">
					<h2 class="pt-2 px-2 font-weight-bold">BrandSho</h2>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						{{#if shop}}
						<li class="nav-item " style="margin-top: 4px;">
							<form class="form-inline d-flex justify-content-center md-form form-sm" action="/search"
								method="post">
								<input class="form-control form-control-sm mr-3 w-75"
									style="border: unset;border-bottom:outset;" type="text" name="searchname"
									placeholder="Search" aria-label="Search">
								<button type="submit"
									style="border:none;background: none;cursor:pointer; margin-top: 4px;color: rgb(74 68 68);"><i
										class="fa fa-search" aria-hidden="true"></i></button>
							</form>
						</li>
						{{/if}}
						{{#if value}}
						<li class="nav-item " style="margin-top: 4px;">
							<form class="form-inline d-flex justify-content-center md-form form-sm" action="/search"
								method="post">
								<input class="form-control form-control-sm mr-3 w-75"
									style="border: unset;border-bottom:outset;" type="text" name="searchname"
									placeholder="Search" aria-label="Search">
								<button type="submit"
									style="border:none;background: none;cursor:pointer; margin-top: 4px;color: rgb(74 68 68);"><i
										class="fa fa-search" aria-hidden="true"></i></button>
							</form>
						</li>
						{{/if}}
						<li class="nav-item {{#if value}} active {{/if}}"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item {{#if shop}} active {{/if}}"><a class="nav-link"
								href="/shopcategory/all/0">Shop</a></li>
						<li class="nav-item {{#if wishlist}} active {{/if}}"><a class="nav-link"
								href="/Wishlist">Wishlist<span class="badge badge-warning ml-1"
									id="wishlistcount">{{wishlistcount}}</span></a></li>
						<li class="nav-item {{#if cart}} active {{/if}}"><a class="nav-link" href="/cart">Cart<span
									class="badge badge-warning ml-1" id="cart-count">{{cartcount}}</span></a></li>
						<li></li>
						<li class="nav-item {{#if account}} active {{/if}}">
							<div class="btn-group">
								<a type="button"
									class="  nav-link   dropdown-toggle {{#if login}} active {{/if}} nav-item "
									style="width:50px; cursor: pointer;" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									Account
								</a>
								<div class="dropdown-menu  dropdown-menu-right"
									style="min-width: 5rem; line-height: normal; padding: 0rem;">
									{{#if user}}
									<button class="dropdown-item " type="button">
						<li class="nav-item "><a class="nav-link" href="/user-profile">Profile</a></li></button>
						<button class="dropdown-item" type="button">
							<li class="nav-item "><a class="nav-link" onclick="userLogout()">LogOut</a></li>
						</button>
						{{else}}
						<button class="dropdown-item" type="button">
							<li class="nav-item {{#if login}} active {{/if}}"><a class="nav-link"
									href="/login">Login</a></li>
						</button>
						{{/if}}

				</div>
			</div>
			</li>
			</ul>
	</div>
	</div>
	</nav>
	</div>
</header>