#img-container{
	/* z-index: 1; */
	max-width: 850px;
	position: relative;
}

#lens{
	/* z-index: 2;
	position: absolute; */
    margin-left: 20px;
	height: 300px;
	width: 300px;
	
	background-repeat: no-repeat;
	cursor: none;

}
#featured{
	max-width: 500px;
	max-height: 600px;

	cursor: pointer;
	border: 2px solid black;

}