<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
      <section style="height:700px; padding-top:100px ; padding-left: 50px;">
<div class="s_Product_carousel">
            <div id="img-container" class="d-flex" >
                <div > <img id="featured" width="400px" src="/img/r12.jpg"></div>
               
                <div id="lens"></div>
            </div>

        </div>
      </section>

        

    </body>
</html>
