<section class="login_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="img/login.jpg" alt="">
					<div class="hover">
						<h4>New to our website?</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this
							is the</p>
						<a class="primary-btn" href="/signup">Create an Account</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Log in to enter</h3>
					<form class="row login_form" action="/login" method="post" id="contactForm">
						<div class="col-md-12 form-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="Username"
								onkeyup='emailvalidate()'>
							<div class="text-danger" id="emailerror"></div>
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="password" name="password"
								placeholder="Password" onkeyup="passwordvalidate()">
							<div class="text-danger" id="passworderror"></div>
						</div>
						{{#if variable}}
						<div class="text-danger col-md-12 form-group">{{variable}}</div>
						{{/if}}
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" onclick="return validate()" class="primary-btn">Log
								In</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	function emailvalidate() {
		const Email = document.getElementById("email").value
		const Emailerror = document.getElementById("emailerror")
		if (Email == "") {
			Emailerror.innerHTML = "This field must be required!"
			return false
		}
		if (!Email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
			Emailerror.innerHTML = "Enter a valid email"
			return false
		}
		Emailerror.innerHTML = ""
		return true
	}

	function passwordvalidate() {
		const Password = document.getElementById("password").value
		const Passworderror = document.getElementById("passworderror")
		if (Password == "") {
			Passworderror.innerHTML = "This field must be required!"
			return false
		}
		if (Password.length <= 5) {
			Passworderror.innerHTML = "Must be 5 charactertics!"
			return false
		}
		Passworderror.innerHTML = ""
		return true
	}

	function validate() {
		if (passwordvalidate() || emailvalidate()) {
			return true
		}
		return false
	}
</script>