<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner  d-flex flex-wrap align-items-center justify-content-center ">
            <div class="col-first">
                <h1 class="text-dark text-center">404</h1>
                <h1 class="text-dark">Page Not Found</h1>
                <nav class="d-flex align-items-center">
                </nav>
            </div>
        </div>
    </div>
</section>